/* AR You Hungry Website Styles */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.satisfy-regular {
	font-family: "Satisfy", cursive;
	font-weight: 400;
	font-style: normal;
  }

/* Global Styles */
* {
  font-family: "Satisfy", Verdana, Geneva, Tahoma, sans-serif;
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  line-height: 1.6;
  color: #333333;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 7vw;
  background-color: blanchedalmond;
  border-bottom: 2px solid burlywood;
  box-shadow: 0 2px 20px pink;
}

header{
  text-align: center;
  padding: 1em;
}

.logo {
  font-size: 36px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo img{
  width: 250px;
}

.bar {
  display: none;
}

.header ul{
  display: flex;
  align-items: center;
}

.header ul li:hover {
  color:azure;
}

.account{
  flex: 0.1;
}

.account ul{
  display: flex;
  justify-content: end;
}

.account ul li{
  padding: 0 15px;
  font-size: 20px;
}

.headerbar{
  display: none;
}

.searchicon{
  display: block;
}

.bar i:hover{
  color: azure;
}

.search{
  width: 200px;
  display: none;
  justify-content: center;
}

.search input{
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
}

.srchicon{
  background-color: antiquewhite;
  display: block;
  padding: 4px 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px){
  .header .nav, .header .account{
	display: none;
  }
  .search{
	width: 60vw;
  }
  .bar{
	display: block;
	cursor: pointer;
  }
  .headerbar{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -100%;
	width: 100%;
	background-color: blanchedalmond;
	transition: all 0.5s;
  }
  .headerbar .account, .headerbar .nav{
	display: block;
	font-size: 20px;
  }
  .bar .fa-xmark{
	display: none;
	top: 20px;
	right: 5vw;
	position: absolute;
	font-size: 25px;
  }
  .headerbar .nav ul{
	flex-direction: column;
	margin-top: 10px;
	text-align: center;
  }
  .headerbar .nav li{
	width: 96vw;
	margin: 10px 0;
	padding: 15px 30px;
	box-shadow: 0 2px 15px lavenderblush;
	font-size: 15px;
	margin-top: 5px;
  }
  .headerbar .account{
	line-height: 40px;
	margin-top: 60px;
	background-color: blanchedalmond;
	padding: 15px;
  }
  .headerbar .account ul{
	justify-content: space-between;
  }
}

/* Navigation Styles */
nav {
  margin-top: 1px;
  text-align: center;
  margin: 10px 0;
  padding: 0.5em 0;
}

nav ul {
  list-style: none;
  padding: 10;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0 15px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  margin: 0 10px;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  color:azure;
}

/* Main Content Styles */
h1 {
font-size: 36px;
color: #333333;
margin-bottom: 20px;
}
  
p {
font-size: 20px;
color: #666666;
line-height: 1.5;
}

button{
	cursor: pointer;
	margin-top: 20px;
	width: 160px;
	font-weight: bold;
	color: coral;
	line-height: 50px;
	background-color: azure;
	border-radius: 5px;
	border: 1px solid coral;
	box-shadow: 0 10px 15px darkorange;
	transition: all 0.35s;
}

.home{
  background-color: blanchedalmond;
  padding: 0 7vw;
  margin: 0 20px;
}

.hero{
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.hero-title{
  padding-top: 20px;
  flex: 1;
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

.hero-title span{
  color: orangered;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: gold;
}

.hero-text{
  font-size: 20px;
  color: #666666;
  line-height: 1.5;
  padding: 20px 0;
}

.hero-image{
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.hero button{
  cursor: pointer;
  margin-top: 20px;
  width: 160px;
  font-weight: bold;
  color: aliceblue;
  line-height: 50px;
  background-color: coral;
  border-radius: 5px;
  border: 1px solid coral;
  box-shadow: 0 10px 15px darkorange;
  transition: all 0.35s;
}

.hero button:hover{
  background-color: aliceblue;
  color: black;
  box-shadow: 0 2px 15px coral;
  border: 1px solid darkorange;
}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 550px){
  .hero-title{
	font-size: 20px;
  }
  .hero-title span{
text-underline-offset: 7px;
	}
  .hero-text{
	padding-top: 5px;
	margin: 10px 0;
	font-size: 15px;
  }
  .hero-image img{
	width: 75vw;
  }
  .red_btn{
	margin-top: 10px;
	width: 120px;
	line-height: 30px;
	font-size: 15px;
	padding: 0 10px;
  }
}

.restaurant_options{
  margin: 70px 0;
  padding: 20px 0;
  background-color: beige;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.options{
  width: 250px;
  padding: 30px;
  text-align: center;
}

.options div{
	height: 160px;
}

.options img{
	width: 160px;
	margin-bottom: 15px;
}

.options p{
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.white_btn{
	cursor: pointer;
	margin-top: 20px;
	width: 160px;
	font-weight: bold;
	color: coral;
	line-height: 50px;
	background-color: azure;
	border-radius: 5px;
	border: 1px solid coral;
	box-shadow: 0 10px 15px darkorange;
	transition: all 0.35s;
}

.white_btn:hover{
  background-color: coral;
  color: whitesmoke;
  box-shadow: 0 2px 15px orange;
  border: 1px solid darkorange;
}

.options .white_btn{
	width: 120px;
	line-height: 35px;
}

/* Footer Styles */
footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.footer-text {
  font-size: 14px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #cccccc;
}
