@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    }

    .h1{
        font-weight: bold;
        font-size: larger;
    }

    .home{
        background-image: url(./Images/background.jpg);
        width: 100%;
        background-size: cover;
        display: flex;
        justify-content: baseline;
        position: relative;
        color: white;
        text-transform: capitalize;
    }

    /*Nav Bar*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        background-color: #000000;
        width: 100%;
        position: sticky;
        z-index: 1;
        top: 0;
    }

    nav{
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        font-weight: 500;      
    }

    nav .logo img{
        width: 20px;
    }

    nav .logo{
        margin-left: 100px;
        margin-right: 100px;
    }

    ul{
        display: flex;
        align-items: center;
    }

    .link{
        color: white;
        text-decoration: none;
        margin-left: 20px;
        font-size: 20px;
        font-weight: 500;
        padding: 20px;
    }