/* AR You Hungry Website Styles */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,400;0,500;1,400&family=Satisfy&display=swap');
.satisfy-regular {
	font-family: "Satisfy", cursive;
	font-weight: 400;
	font-style: normal;
  }

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* Global Styles */
* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

html{
  font-size: 90%;
  overflow-x: hidden;
}

body {
  font-size: 24px;
  line-height: 1.6;
  background-color: blanchedalmond;
  color: #333333;
  -ms-overflow-style: none;
}

/* Header Styles */
.header{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 50px;
  width: 1200;
  max-width: 90%;
  position: relative;
  z-index: 100;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px;
}

.header .nav, .header .account{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
  width: 1200;
  max-width: 90%;
}

.logo img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: end;
}

.bar {
  display: none;
}

.account{
  flex: 0.1;
}

.account ul{
  display: flex;
  justify-content: end;
  gap: 8px;
  list-style: none;
}

.account ul li{
  margin: 0 10px;
  padding: 0 15px;
  font-size: 20px;
}

.account ul li a{
  text-decoration: none;
  color: #333333;
  transition: color 0.3s ease;
}

.account ul li a:hover{
  color: coral;
}

.headerbar{
  display: none;
}

.searchicon{
  display: block;
}

.bar i:hover{
  color: azure;
}

.location-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.location{
  width: 200px;
  display: none;
  justify-content: center;
}

.location input {
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  background-color: bisque;
  padding: 8px;
}

.location button {
  margin: 0 2px;
	font-size: 12px;
	box-shadow: none;
	border-radius: 10px;
  width: 50px;
	line-height: 35px;
  cursor: pointer;
	color: darkred;
	background-color:white;
	border: 1px solid coral;
	box-shadow: 0 10px 15px burlywood;
	transition: all 0.35s;
}

.location button:hover{
  background-color: coral;
  color: whitesmoke;
  box-shadow: 0 2px 15px orange;
  border: 1px solid darkorange;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search{
  width: 300px;
  display: none;
  justify-content: center;
}

.search input{
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  background-color: bisque;
}

.srchicon{
  background-color: bisque;
  display: block;
  padding: 5px 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

li:last-child {
  border-bottom: none;
}

.selected {
  background-color: #f0f0f0;
}

input[type="text"], input[type="date"], input[type="time"], input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hidden {
  display: none;
}

/* Navigation Styles */
.header .nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.header .nav a {
  text-decoration: none;
  font-family: 'Satisfy', cursive;
  margin: 0 10px;
  padding: 8px 15px;
  color:maroon;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: white;
}

.nav ul{
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.nav ul li{
  margin: 0 10px;
  padding: 0 15px;
  font-size: 20px;
}

i{
  font-size: 25px;
  cursor: pointer;
  color:blue;
}

/* Slider Styles */
.slider{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -50px;
  position: relative;
}

.slider .slides .option{
  position: absolute;
  inset: 0 0 0 0;
  opacity: 0;
  transition: 0.5s;
}

.slider .slides .option img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slides .option::after{
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  inset: 0 0 0 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.slider .slides .option .content{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}

.slider .slides .option .content h2{
  font-family: "Poetsen One", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  color: maroon;
}

.slider .slides .option .content p{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
  line-height: 1.5;
  color: beige;
}

.slider .slides .option.active{
  opacity: 1;
  z-index: 2;
}

.slider .slides .option .content button{
  cursor: pointer;
  width: 130px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poesen One", sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: darkred;
  background-color: #eee5;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.slider .slides .option .content button:hover{
  background-color:#ccc;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

@keyframes showContent {
  to{
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slider .slides .option.active .content{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

.slider .slides .option.active h2{
  animation-delay: 1s;
}

.slider .slides .option.active p{
  animation-delay: 1.3s;
}

.arrows{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 3;
}

/* Main Content Styles */
h1 {
  font-family: 'Satisfy';
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

h2{
  font-size: 32px;
  text-align: center;
}
  
p {
  font-size: 24px;
  color: #666666;
  line-height: 1.5;
}

button{
	cursor: pointer;
	margin-top: 20px;
	width: 160px;
	font-weight: bold;
	color: darkred;
	line-height: 50px;
	background-color:white;
	border-radius: 5px;
	border: 1px solid coral;
	transition: all 0.35s;
}

button i{
  margin-right: 10px;
  margin-top: 10px;
  color:#333;
  font-size: 15px;
}

.home{
  padding: 0 7vw;
  margin: 0 20px;
}

/* Hero Section Styles */
.hero-title{
  font-size: 36px;
  color:maroon;
}
  
.hero-title span{
  font-family: 'Satisfy';
  color: darkmagenta;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: gold;
}

/* Restaurants page styles */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
}

.restaurant-card {
  flex: 1 1 calc(33.333% - 40px);
  background: ivory;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.restaurant-card:hover{
  transform: scale(1.1);
}

.restaurant-card img {
  width: 80%;
	height: 200px;
  object-fit: cover;
  margin: 10px auto;
  display: block
}

.restaurant-card h3 {
  margin: 10px 0;
}

.restaurant-card button {
  width: 160px;
	line-height: 35px;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color:darkred;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restaurant-card button:hover {
  background-color: #218838;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color:bisque;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* Footer Styles */
.footer {
  border-top: 2px solid burlywood;
  cursor: pointer;
}

center p{
  color: black;
}

.footer a{
  color: deeppink;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: pink;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 768px){
  html{
		font-size: 90%;
	}
	header{
		height: auto;
	}
	section{
		padding: 2rem 4%;
	}
  .header .nav, .header .account{
	display: none;
  }
  .search{
	width: 60vw;
  }
  .bar{
	display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
	cursor: pointer;
  }
  .headerbar{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -100%;
	width: 100%;
	background-color: blanchedalmond;
	transition: all 0.5s;
  }
  .headerbar .account, .headerbar .nav{
	display: block;
	font-size: 20px;
  }
  .bar .fa-xmark{
	display: none;
	top: 20px;
	right: 5vw;
	position: absolute;
	font-size: 25px;
  }
  .headerbar .nav{
    margin-top: 60px;
  }        
  .headerbar .nav ul{
	flex-direction: column;
	margin-top: 10px;
	text-align: center;
  }
  .headerbar .nav li{
	width: 86vw;
	margin: 10px 0;
	padding: 15px 30px;
	box-shadow: 0 2px 15px burlywood;
	font-size: 15px;
	margin-top: 5px;
  }
  .headerbar .account{
	line-height: 40px;
	margin-top: 60px;
	background-color: blanchedalmond;
	padding: 15px;
  }
  .headerbar .account ul{
	justify-content: space-between;
  }
  .restaurant-card{
    flex: 1 1 calc(50% - 20px);
  }
  .footer .footer-content{
    margin: 0;
  }
  .footer{
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 550px){
  .hero-title{
	font-size: 20px;
  }
  .hero-title span{
text-underline-offset: 7px;
	}
  .hero-text{
	padding-top: 5px;
	margin: 10px 0;
	font-size: 15px;
  }
  .hero-image img{
	width: 70vw;
  }
  .restaurant-card{
    flex: 1 1 100%;
  }
  .footer{
    margin-bottom: 0;
    padding-bottom: 20px;
  }
}

::-webkit-scrollbar{
  display: none;
  width: 0;
}