/* AR You Hungry Website Styles */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.satisfy-regular {
	font-family: "Satisfy", cursive;
	font-weight: 400;
	font-style: normal;
  }

/* Global Styles */
* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: blanchedalmond;
  transition: 0.3s;
}

html{
  font-size: 90%;
  overflow-x: hidden;
}

body {
  font-size: 24px;
  line-height: 1.6;
  color: #333333;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Header Styles */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7vw;
  height: 60px;
  background-color: blanchedalmond;
  border-bottom: 2px solid burlywood;
}

.header .nav, .header .account{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: end;
}

.bar {
  display: none;
}

.account{
  flex: 0.1;
}

.account ul{
  display: flex;
  justify-content: end;
  gap: 8px;
  list-style: none;
}

.account ul li{
  margin: 0 10px;
  padding: 0 15px;
  font-size: 20px;
}

.account ul li a{
  text-decoration: none;
  color: #333333;
  transition: color 0.3s ease;
}

.account ul li a:hover{
  color: coral;
}

.headerbar{
  display: none;
}

.searchicon{
  display: block;
}

.bar i:hover{
  color: azure;
}

.location-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.location{
  width: 200px;
  display: none;
  justify-content: center;
}

.location input {
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  background-color: bisque;
  padding: 8px;
}

.location button {
  margin: 0 2px;
	font-size: 12px;
	box-shadow: none;
	border-radius: 10px;
  width: 50px;
	line-height: 35px;
  cursor: pointer;
	color: darkred;
	background-color:white;
	border: 1px solid coral;
	box-shadow: 0 10px 15px burlywood;
	transition: all 0.35s;
}

.location button:hover{
  background-color: coral;
  color: whitesmoke;
  box-shadow: 0 2px 15px orange;
  border: 1px solid darkorange;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search{
  width: 200px;
  display: none;
  justify-content: center;
}

.search input{
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  background-color: bisque;
}

.srchicon{
  background-color: bisque;
  display: block;
  padding: 5px 5px;
  cursor: pointer;
}

/* Navigation Styles */
.header .nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.header .nav a {
  text-decoration: none;
  font-family: 'Satisfy', cursive;
  margin: 0 10px;
  padding: 8px 15px;
  color: maroon;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: coral;
}

.nav ul{
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.nav ul li{
  margin: 0 10px;
  padding: 0 15px;
  font-size: 20px;
}


/* Main Content Styles */
h1 {
  font-family: 'Satisfy';
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

h2{
  font-size: 32px;
  color: #333333;
  text-align: center;
}
  
p {
  font-size: 24px;
  color: #666666;
  line-height: 1.5;
}

button{
	cursor: pointer;
	margin-top: 20px;
	width: 160px;
	font-weight: bold;
	color: darkred;
	line-height: 50px;
	background-color:white;
	border-radius: 5px;
	border: 1px solid coral;
	box-shadow: 0 10px 15px burlywood;
	transition: all 0.35s;
}

.home{
  padding: 0 7vw;
  margin: 0 20px;
}

/* Hero Section Styles */
.hero{
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}
  
.hero-content{
  padding-top: 20px;
  flex: 1;
}

.hero-title{
  font-size: 36px;
}
  
.hero-title span{
  font-family: 'Satisfy';
  color: darkred;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: gold;
}
  
.hero-text{
  font-size: 20px;
  color: #666666;
  padding: 20px 0;
}
  
.hero-image{
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.hero button:hover{
  background-color: bisque;
  color: black;
  box-shadow: 0 2px 15px coral;
  border: 1px solid darkorange;
}

/* Popular Restaurants Styles */
.restaurant_options{
  margin: 45px 0;
  padding: 30px 0;
  background-color: honeydew;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.options{
  width: 250px;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease;
}

.options:hover{
  transform: scale(1.1);
}

.options div{
	height: 150px;
}

.options img{
	width: 160px;
	margin-bottom: 15px;
}

.options p{
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.options button:hover{
  background-color: coral;
  color: whitesmoke;
  box-shadow: 0 2px 15px orange;
  border: 1px solid darkorange;
}

.options button{
	width: 120px;
	line-height: 35px;
}

/* Featured Restaurants Styles */
.restaurant-list{
  margin: 45px 0;
  padding: 30px 0;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.restaurant-list ul {
  list-style-type: none;
  text-align: center;
  columns: 2;
}

.restaurant-list li {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 20px;
}

.restaurant-list h2 {
  margin-top: 0;
  color: #333;
}

.restaurant-list p {
  margin: 5px 0;
  color: #666;
}

.restaurant-list p.rating {
  font-weight: bold;
  color: chocolate;
}

/* Footer Styles */
.footer {
  border-top: 2px solid burlywood;
  cursor: pointer;
	text-align: center;
}

.footer .container{
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem,2fr));
  grid-gap: 1rem;
  padding: 4rem 0;
  border-bottom: 1px solid burlywood;
}

.footer .container div{
  padding: 0 7rem;
}

.footer img{
  width: 70px;
  height: 60px;
  margin-top: 5px;
}

.footer .container p{
  font-size: 18px;
  color:#333333;
  padding: 5px;
	letter-spacing: .1rem;
}

.footer .container h3{
  font-size: 25px;
  padding: .5rem 0;
}

.footer .container span{
	color: firebrick;
	font-size: 28px;
	font-weight: bold;
}

.footer .container input{
	width: 70%;
	font-size: 15px;
	padding: 10px;
	outline: none;
	border: none;
	background-color:floralwhite;
}

.footer .container button{
	margin: 0 15px;
	font-size: 13px;
	box-shadow: none;
	border-radius: 10px;
  width: 90px;
  height: 50px;
}

.footer .container button:hover{
  background-color: coral;
  color: whitesmoke;
  box-shadow: 0 2px 15px darkorange;
}

.footer a{
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color:deeppink;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 768px){
  html{
		font-size: 90%;
	}
	header{
		height: auto;
	}
	section{
		padding: 2rem 4%;
	}
  .header .nav, .header .account{
	display: none;
  }
  .search{
	width: 60vw;
  }
  .bar{
	display: block;
	cursor: pointer;
  }
  .headerbar{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -100%;
	width: 100%;
	background-color: blanchedalmond;
	transition: all 0.5s;
  }
  .headerbar .account, .headerbar .nav{
	display: block;
	font-size: 20px;
  }
  .bar .fa-xmark{
	display: none;
	top: 20px;
	right: 5vw;
	position: absolute;
	font-size: 25px;
  }
  .headerbar .nav ul{
	flex-direction: column;
	margin-top: 10px;
	text-align: center;
  }
  .headerbar .nav li{
	width: 96vw;
	margin: 10px 0;
	padding: 15px 30px;
	box-shadow: 0 2px 15px burlywood;
	font-size: 15px;
	margin-top: 5px;
  }
  .headerbar .account{
	line-height: 40px;
	margin-top: 60px;
	background-color: blanchedalmond;
	padding: 15px;
  }
  .headerbar .account ul{
	justify-content: space-between;
  }
  .restaurant_options{
  background-color: blanchedalmond;
  }
  .options{
	flex: 1;
	text-align: center;
	margin-bottom: 20px;
  }
  .options img{
	width: 35vw;
  }
  .newsletter-title{
	font-size: 22px;
  }
  .newsletter-title span{
    font-size: 24px;
  }
  .newsletter-input input{
	font-size: 11px;
	padding: 15px;
  width: 50vw;
  }
  .newsletter-input button{
    line-height: 45px;
    width: 80px;
    font-size: 13px;
  }
  .footer .footer-content{
    margin: 0;
  }
  .footer{
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 550px){
  .hero-title{
	font-size: 20px;
  }
  .hero-title span{
text-underline-offset: 7px;
	}
  .hero-text{
	padding-top: 5px;
	margin: 10px 0;
	font-size: 15px;
  }
  .hero-image img{
	width: 70vw;
  }
  .hero button{
	margin-top: 10px;
	width: 120px;
	line-height: 30px;
	font-size: 12px;
	padding: 0 10px;
  }
  .newsletter{
    justify-content: center;
  }
  .newsletter-title{
    flex: 1;
  }
  .footer{
    margin-bottom: 0;
    padding-bottom: 20px;
  }
}

::-webkit-scrollbar{
  display: none;
}