@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    }

    .home{
        width: auto%;
        min-height: 100vh;
        background-image: url(./Images/Premium\ Photo\ _\ Restaurant\ blur\ background\ design\ resource.jpg);
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 50px;
        color: black;
        font-size: larger;
    }

    .home .content{
        width: 50%;
    }

    .home .content h1{
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .home .content p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .home .btn{
        padding: 10px 25px;
        color:blue;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 20px;
        transition: all 0.3s ease;
        text-decoration: underline;
    }

    .home .btn:hover{
        color: aqua;
    }
        
    /*Nav Bar*/
    header{
        padding: 1px 0;
        background-color: gray;
        width: 100;
        position: sticky;
        z-index: 1;
        color: white;
        top: 0;
    }

    nav{
        width: 1500px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gray;
    }

    nav .logo img{
        width: 50px;
    }

    nav .logo{
        margin: 0 40px 0 0;
    }

    ul{
        display: flex;
        align-items: right;
    }

    .nav-links a{
        padding: 20px;
        color: blue;
        font-size: 20px;
        font-weight: 400;
        transition: all 0.3s ease;
        margin: 20px 20px 20px 20px;
    }

    .nav-links a:hover{
        color: aqua;
        border-radius: 10px;

    }
a:hover {
  position: relative;
}

a:hover::after {
  position: absolute;
  bottom: 125%;
  left: 0;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  text-decoration:wavy;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

  a:hover::after {
    opacity: 1;
  }
  
    /*About*/
    .about{
        width: auto;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 50px;
        background-size: cover;
        color: black;
        font-size: larger;
        background-image: url(./Images/Pizza\ on\ black\ background\,\ banner.jpg);
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    html{
        scroll-behavior: smooth;
    }