@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    }

    .home{
        width: 100%;
        min-height: 100vh;
        background-image: url(./Images/background.jpg);
        background-size: cover;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        color: white;
    }
    
    /*Nav Bar*/
    header{
        padding: 16px 0;
        background-color: gold;
        width: 100;
        position: sticky;
        z-index: 1;
        top: 0;
    }

    nav{
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        color: white;
        font-size: 20px;
        font-weight: 400;      
    }

    nav .logo img{
        width: 145px;
    }

    nav .logo{
        margin: 0 40px 0 0;
    }

    ul{
        display: flex;
        align-items: center;
    }

    .link{
        padding: 20px;
        color: blue;
        font-size: 20px;
        font-weight: 400;
        transition: all 0.3s ease;
    }

    .link:hover{
        background-color: whitesmoke;
        border-radius: 5px;
    }

    .right-links{
        margin-left: auto;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    html{
        scroll-behavior: smooth;
    }